<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Cupcake</title>
  </head>
  <body>
    <h1>Add Cupcake</h1>
    <div class="container">
      <form method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden'%}
        <p>
          {{field.label(class_="form-label")}} {{field(class_="form-control")}}
          {% for err in field.errors %} {{err}} {% endfor %}
        </p>
        {% endfor %}
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
